main{
    height: 95vh;
    background-image: url(/static/images/fundo-espaco.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo{
    color: red;
    font-size: 10em;
    font-weight: 800;
}

#mensagem{
    color: var(--branco);
    font-weight: 600;
}

#link-voltar{
    background-color: #e47911;
    height: 2.5em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    color: var(--branco);
    font-weight: 900;

}

#link-voltar:hover{
    color: #000;
    background-color: #ff870f;
}