
:root{
    --preto: #08090D;
    --cinza-escuro: #1A1E26;
    --cinza-medio: #343A40;
    --cinza-claro: #6E7371;
    --cinza-pastel: #A1A69C;
    --cinza-pastel-claro: #bec0bd;
    --branco: #F7F2ED;
}