<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/info.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

    <title>Informações Pessoais</title>
</head>
<body>
    <nav class="container-nav">
        <div class="navbar-play">
            <a class="navbar-button" href="{% url 'login' %}">LOGIN</a>
        </div>
        <div class="navbar-more">
            <a class="navbar-link" href=" {% url 'home' %} ">PAGINA INICIAL</a>
            <a class="navbar-link" href="#">CLASSIFICAÇÃO</a>
            <a class="navbar-link" href="#">INFORMAÇÕES PESSOAIS</a>
            <a class="navbar-link" href="{% url 'contato' %}">CONTATO</a>
        </div>
    </nav>
    
    <div class="col-md-8 mt-1">
            <div class="card mb-3 contente">
                <h1 class="m-3 pt-3">INFORMAÇÕES PESSOAIS</h1>
                <div class="card-body">
                     <div class="row">
                            <div class="col-md-3">
                                <h5>Nome Completo</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                Davi de Oliveira Rosa
                            </div>  
                     </div>
                     
                     <div class="row">
                            <div class="col-md-3">
                                <h5>E-mail </h5>
                            </div>
                            <div class="col-md-9 text-seconday">
                                rdavioliveira2020@gmail.com
                            </div>
                     </div>
                   
                     <div class="row">
                            <div class="col-md-3">
                                <h5>Usuário</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                davi__oliveira.__
                            </div>
                     </div>
                     
                     <div class="row">
                            <div class="col-md-3">
                                <h5>Senha:</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                12345
                            </div>
                            <button class="btn"><a href="../html/editar.html">Alterar Cadastro</a></button>
                     </div>
                </div>
            </div>
    </div>

</body>
</html>