{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/variaveis.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <nav class="container-nav">
        <div class="navbar-play">
            <a class="navbar-button" href="{% url 'login' %}">LOGIN</a>
        </div>
        <div class="navbar-more">
            <a class="navbar-link" href="{% url 'home' %}">PAGINA INICIAL</a>
            <a class="navbar-link" href="#">CLASSIFICAÇÃO</a>
            <a class="navbar-link" href="#">INFORMAÇÕES PESSOAIS</a>
            <a class="navbar-link" href="{% url 'contato'%}">CONTATO</a>
        </div>
    </nav>
   
   <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>E vença se puder!</h1>
        </div>
        <div class="right-login">
        <div class="card-login"> <!--(CARD)-->
            <h1>LOGIN</h1>
            <form action="{% url 'login' %}" method='POST' class="formulario">
                {% csrf_token %}
            <div class="textfield"> <!--div para englobar a label e o input-->
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" placeholder="Usuário"><!--div para receber o nome do usuario -->
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <button class="btn-login">Login</button>
        </form>
            <p>Não tem conta? <span><a href="{% url 'cadastre' %}">Faça seu cadastro!</a></span></p>
        </div>
    </div>        
        
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>